[submodule "projects/title-switcher"]
	path = projects/title-switcher
	url = https://github.com/jheagle/title-switcher-v2.git
[submodule "projects/si-funciona"]
	path = projects/si-funciona
	url = https://github.com/jheagle/si-funciona.git
[submodule "projects/json-dom"]
	path = projects/json-dom
	url = https://github.com/jheagle/JSON-DOM.git
[submodule "projects/collect-your-stuff"]
	path = projects/collect-your-stuff
	url = https://github.com/jheagle/collect-your-stuff.git
[submodule "projects/matrix-dom"]
	path = projects/matrix-dom
	url = https://github.com/jheagle/matrix-DOM.git
[submodule "projects/pseudo-dom"]
	path = projects/pseudo-dom
	url = https://github.com/jheagle/PseudoDom.git
