@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Fira Sans"), local("FiraSans-Regular"), url(http://fonts.gstatic.com/s/firasans/v5/EjsrzDkQUQCDwsBtLpcVQZBw1xU1rKptJj_0jans920.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }

@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 700;
  src: local("Fira Sans Bold"), local("FiraSans-Bold"), url(http://fonts.gstatic.com/s/firasans/v5/DugPdSljmOTocZOR2CItOhampu5_7CjHW5spxoeN3Vs.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }

@font-face {
  font-family: 'Fira Mono';
  font-style: normal;
  font-weight: 400;
  src: local("Fira Mono"), local("FiraMono"), url(http://fonts.gstatic.com/s/firamono/v3/SlRWfq1zeqXiYWAN-lnG-pBw1xU1rKptJj_0jans920.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }

/*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */ }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none; }

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none; }

.highlight {
  background: #ffffff; }

.highlight .c {
  color: #999988;
  font-style: italic; }

/* Comment */
.highlight .err {
  color: #a61717;
  background-color: #e3d2d2; }

/* Error */
.highlight .k {
  font-weight: bold; }

/* Keyword */
.highlight .o {
  font-weight: bold; }

/* Operator */
.highlight .cm {
  color: #999988;
  font-style: italic; }

/* Comment.Multiline */
.highlight .cp {
  color: #999999;
  font-weight: bold; }

/* Comment.Preproc */
.highlight .c1 {
  color: #999988;
  font-style: italic; }

/* Comment.Single */
.highlight .cs {
  color: #999999;
  font-weight: bold;
  font-style: italic; }

/* Comment.Special */
.highlight .gd {
  color: #000000;
  background-color: #ffdddd; }

/* Generic.Deleted */
.highlight .gd .x {
  color: #000000;
  background-color: #ffaaaa; }

/* Generic.Deleted.Specific */
.highlight .ge {
  font-style: italic; }

/* Generic.Emph */
.highlight .gr {
  color: #aa0000; }

/* Generic.Error */
.highlight .gh {
  color: #999999; }

/* Generic.Heading */
.highlight .gi {
  color: #000000;
  background-color: #ddffdd; }

/* Generic.Inserted */
.highlight .gi .x {
  color: #000000;
  background-color: #aaffaa; }

/* Generic.Inserted.Specific */
.highlight .go {
  color: #888888; }

/* Generic.Output */
.highlight .gp {
  color: #555555; }

/* Generic.Prompt */
.highlight .gs {
  font-weight: bold; }

/* Generic.Strong */
.highlight .gu {
  color: #aaaaaa; }

/* Generic.Subheading */
.highlight .gt {
  color: #aa0000; }

/* Generic.Traceback */
.highlight .kc {
  font-weight: bold; }

/* Keyword.Constant */
.highlight .kd {
  font-weight: bold; }

/* Keyword.Declaration */
.highlight .kp {
  font-weight: bold; }

/* Keyword.Pseudo */
.highlight .kr {
  font-weight: bold; }

/* Keyword.Reserved */
.highlight .kt {
  color: #445588;
  font-weight: bold; }

/* Keyword.Type */
.highlight .m {
  color: #009999; }

/* Literal.Number */
.highlight .s {
  color: #d14; }

/* Literal.String */
.highlight .na {
  color: #008080; }

/* Name.Attribute */
.highlight .nb {
  color: #0086B3; }

/* Name.Builtin */
.highlight .nc {
  color: #445588;
  font-weight: bold; }

/* Name.Class */
.highlight .no {
  color: #008080; }

/* Name.Constant */
.highlight .ni {
  color: #800080; }

/* Name.Entity */
.highlight .ne {
  color: #990000;
  font-weight: bold; }

/* Name.Exception */
.highlight .nf {
  color: #990000;
  font-weight: bold; }

/* Name.Function */
.highlight .nn {
  color: #555555; }

/* Name.Namespace */
.highlight .nt {
  color: #000080; }

/* Name.Tag */
.highlight .nv {
  color: #008080; }

/* Name.Variable */
.highlight .ow {
  font-weight: bold; }

/* Operator.Word */
.highlight .w {
  color: #bbbbbb; }

/* Text.Whitespace */
.highlight .mf {
  color: #009999; }

/* Literal.Number.Float */
.highlight .mh {
  color: #009999; }

/* Literal.Number.Hex */
.highlight .mi {
  color: #009999; }

/* Literal.Number.Integer */
.highlight .mo {
  color: #009999; }

/* Literal.Number.Oct */
.highlight .sb {
  color: #d14; }

/* Literal.String.Backtick */
.highlight .sc {
  color: #d14; }

/* Literal.String.Char */
.highlight .sd {
  color: #d14; }

/* Literal.String.Doc */
.highlight .s2 {
  color: #d14; }

/* Literal.String.Double */
.highlight .se {
  color: #d14; }

/* Literal.String.Escape */
.highlight .sh {
  color: #d14; }

/* Literal.String.Heredoc */
.highlight .si {
  color: #d14; }

/* Literal.String.Interpol */
.highlight .sx {
  color: #d14; }

/* Literal.String.Other */
.highlight .sr {
  color: #009926; }

/* Literal.String.Regex */
.highlight .s1 {
  color: #d14; }

/* Literal.String.Single */
.highlight .ss {
  color: #990073; }

/* Literal.String.Symbol */
.highlight .bp {
  color: #999999; }

/* Name.Builtin.Pseudo */
.highlight .vc {
  color: #008080; }

/* Name.Variable.Class */
.highlight .vg {
  color: #008080; }

/* Name.Variable.Global */
.highlight .vi {
  color: #008080; }

/* Name.Variable.Instance */
.highlight .il {
  color: #009999; }

/* Literal.Number.Integer.Long */
body {
  background-color: white;
  font-size: 14px;
  line-height: 1.6;
  font-family: 'Fira Sans', sans-serif;
  color: #666;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%; }

::-moz-selection {
  background: #FFF498; }

::selection {
  background: #FFF498; }

::-moz-selection {
  background: #FFF498; }

img::-moz-selection {
  background: transparent; }

img::selection {
  background: transparent; }

img::-moz-selection {
  background: transparent; }

body {
  -webkit-tap-highlight-color: #FFF498; }

a {
  color: #0074D9;
  text-decoration: none;
  outline: 0; }
  a:hover, a:focus {
    color: #40a6ff; }

.gigantic, .huge, .large, .bigger, .big,
h1, h2, h3, h4, h5, h6 {
  color: #222;
  font-weight: bold; }

.gigantic {
  font-size: 110px;
  line-height: 1.09;
  letter-spacing: -2px; }

.huge, h1 {
  font-size: 68px;
  line-height: 1.05;
  letter-spacing: -1px; }

.large, h2 {
  font-size: 42px;
  line-height: 1.14; }

.bigger, h3 {
  font-size: 26px;
  line-height: 1.38; }

.big, h4 {
  font-size: 22px;
  line-height: 1.38; }

.small, small {
  font-size: 10px;
  line-height: 1.2; }

p {
  margin: 0 0 20px 0; }

em {
  font-style: italic; }

strong {
  font-weight: bold; }

hr {
  border: solid #ddd;
  border-width: 1px 0 0;
  clear: both;
  margin: 10px 0 30px;
  height: 0; }

.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  .button:hover, .button:active, .button:focus,
  button:hover,
  button:active,
  button:focus,
  input[type="submit"]:hover,
  input[type="submit"]:active,
  input[type="submit"]:focus,
  input[type="reset"]:hover,
  input[type="reset"]:active,
  input[type="reset"]:focus,
  input[type="button"]:hover,
  input[type="button"]:active,
  input[type="button"]:focus {
    color: #333;
    border-color: #888;
    outline: 0; }

/* General styles section */
html {
  font-size: 62.5%;
  color: #444;
  line-height: 1.4;
  background-color: #fff; }

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  position: absolute;
  text-align: center; }

a {
  outline: none;
  text-decoration: none; }

/* Header styles section */
header {
  display: block;
  width: 100%;
  min-height: 60px;
  position: fixed;
  z-index: 9999;
  min-width: 256px;
  overflow: auto; }

/* Main styles section */
main {
  padding: 70px 0 0;
  display: block;
  min-height: -webkit-calc(100% - 160px);
  min-height: calc(100% - 160px);
  width: 100%;
  overflow: auto; }

/* Main Content and Layouts styles section */
section {
  background-color: #009999;
  z-index: 1; }

section .content {
  background-color: #fff;
  border: 4px solid #009999;
  padding: 4px; }

section:nth-of-type(even) {
  background-color: #fff;
  -webkit-box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.4);
  -o-box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.4);
  box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.4); }

section:nth-of-type(even) .content {
  color: #fff;
  background-color: #009999;
  border: 4px solid #fff; }

/* Font Styles */
h1, h2, h3, h4, h5, h6, p, label, input, textarea {
  margin: 0;
  padding: 0;
  outline: 0; }

input, textarea {
  color: #444;
  padding: .6rem .4rem;
  -webkit-border-radius: .4rem;
          border-radius: .4rem;
  border: 1px solid #eee;
  border-bottom: 1px solid #00ccff;
  width: 100%; }

h1, h2, h3, h4, h5, h6, a, label, dt, input[type='button'], input[type='submit'] {
  color: #00ccff;
  font-weight: 700; }

input[type='button'], input[type='submit'] {
  background-color: #fff;
  border: 1px solid #00ccff; }

h1 {
  font-size: 3.2rem; }

h2 {
  font-size: 2.8rem; }

h3 {
  font-size: 2.4rem; }

h4 {
  font-size: 2rem; }

h5 {
  font-size: 1.8rem; }

h6, label, input[type='button'], input[type='submit'] {
  font-size: 1.6rem; }

p, a, dt, dd {
  font-size: 1.4rem; }

p {
  font-weight: 400; }

/* Input styles section */
.form-group {
  margin: 10px 0; }

.form-group label {
  display: none; }

.form-group input, .form-group textarea {
  display: inline-block; }

/* Input format styles section */
/* Validation Styles */
/* Common Elements */
.social-links {
  position: relative;
  overflow: none;
  height: 100%; }

.social-links a {
  display: inline-block;
  padding: 0;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  height: 45%;
  min-height: 30px;
  width: auto;
  margin: 4px 2px; }

.social-links a img {
  height: 100%;
  width: auto;
  padding: 0;
  margin: 0; }

.social-links a:hover, .social-links a:focus {
  opacity: 0.6; }

/* Footer styles section */
footer {
  display: block;
  width: 100%;
  position: relative;
  bottom: 0;
  height: 140px; }

footer img {
  margin: 40px auto; }

/* Helper classes */
/* These override the primary ('mobile first') styles. */
@media only screen and (min-width: 580px) {
  html {
    font-size: 75.8%; } }

@media only screen and (min-width: 881px) {
  html {
    font-size: 86.1%; }
  section .content, section:nth-of-type(even) .content {
    border: none; } }

/* Style adjustments for high resolution devices */
/* Print styles. */
/* Inlined to avoid required HTTP connection: h5bp.com/r */
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
    text-shadow: none !important; }
  a, a:visited {
    text-decoration: underline; }
  a[href]:after {
    content: " (" attr(href) ")"; }
  abbr[title]:after {
    content: " (" attr(title) ")"; }
  /* Don't show links for images, or javascript/internal links */
  a[href^="javascript:"]:after, a[href^="#"]:after {
    content: ""; }
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }
  thead {
    display: table-header-group; }
  /* h5bp.com/t */
  tr, img {
    page-break-inside: avoid; }
  img {
    max-width: 100% !important; }
  p, h2, h3 {
    orphans: 3;
    widows: 3; }
  h2, h3 {
    page-break-after: avoid; } }

@-ms-viewport {
  width: device-width; }

.name-lockup {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.avatar {
  width: 80px;
  height: 80px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  margin-right: 10px;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0; }

.fork-tag {
  position: absolute;
  top: 10px;
  right: -10px;
  background: #0074D9;
  color: white;
  padding: 2px 6px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transform-origin: top right;
      -ms-transform-origin: top right;
          transform-origin: top right; }
  .fork-tag:hover {
    color: white;
    -webkit-animation: wiggle 0.4s linear 1;
            animation: wiggle 0.4s linear 1; }

@-webkit-keyframes wiggle {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  20% {
    -webkit-transform: rotate(8deg);
            transform: rotate(8deg); }
  50% {
    -webkit-transform: rotate(-8deg);
            transform: rotate(-8deg); }
  80% {
    -webkit-transform: rotate(8deg);
            transform: rotate(8deg); }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); } }

@keyframes wiggle {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  20% {
    -webkit-transform: rotate(8deg);
            transform: rotate(8deg); }
  50% {
    -webkit-transform: rotate(-8deg);
            transform: rotate(-8deg); }
  80% {
    -webkit-transform: rotate(8deg);
            transform: rotate(8deg); }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); } }

.flex-video {
  height: 0;
  margin-bottom: 0.88889rem;
  overflow: hidden;
  padding-bottom: 56%;
  position: relative; }

.flex-video iframe,
.flex-video object,
.flex-video embed,
.flex-video video {
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  left: 0; }

.page-home {
  text-align: center; }
  .page-home section {
    max-width: 600px;
    margin: 50px auto;
    padding: 40px;
    position: relative;
    background-color: rgba(255, 255, 255, 0.7);
    -webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1); }
    .page-home section:first-child {
      background-image: url(../img/tools.png);
      background-position: center; }
    .page-home section h1 {
      font-weight: 700;
      line-height: 1;
      margin: 20px 0;
      letter-spacing: 1px; }
  .page-home img {
    max-width: 100%; }
  .page-home .flex-video-wrap {
    max-width: 640px;
    display: inline-block;
    width: 100%; }
  .page-home pre {
    text-align: left;
    font-family: 'Fira Mono', monospace;
    font-size: 30px;
    color: #d0d0d0;
    position: absolute;
    top: -50px;
    left: -50px;
    z-index: -1;
    pointer-events: none; }
    @media (max-width: 500px) {
      .page-home pre {
        font-size: 20px; } }
  .page-home article {
    margin-bottom: 50px; }
    .page-home article:last-child {
      margin-bottom: 0px; }

/* title-switcher styles */
.hideTitle {
  display: none; }

.displayTitle {
  display: block; }

/* Joshua Heagle's custom styles for Joshua Web Strategy */
.double-underline {
  border-bottom: 6px double #00ccff; }

.arrow-up {
  width: 0;
  height: 0;
  border-left: 1em solid transparent;
  border-right: 1em solid transparent;
  border-bottom: 1em solid #00ccff;
  margin: -0.2em 0 0.2em;
  display: inline-block; }

.arrow-down {
  width: 0;
  height: 0;
  border-left: 1em solid transparent;
  border-right: 1em solid transparent;
  border-top: 1em solid #00ccff;
  margin: 0.2em 0 -0.2em;
  display: inline-block; }

.arrow-right {
  width: 0;
  height: 0;
  border-top: 1em solid transparent;
  border-bottom: 1em solid transparent;
  border-left: 1em solid #00ccff;
  margin: 0 -0.2em 0 0.2em;
  display: inline-block; }

.arrow-left {
  width: 0;
  height: 0;
  border-top: 1em solid transparent;
  border-bottom: 1em solid transparent;
  border-right: 1em solid #00ccff;
  margin: 0 0.2em 0 -0.2em;
  display: inline-block; }

/* Menu styles section */
header {
  bottom: 0;
  top: auto;
  height: 40px;
  -webkit-transition: height 0.4s cubic-bezier(0.15, 0.72, 1, -0.82) 0.2s;
  -o-transition: height 0.4s cubic-bezier(0.15, 0.72, 1, -0.82) 0.2s;
  transition: height 0.4s cubic-bezier(0.15, 0.72, 1, -0.82) 0.2s; }

header.hover {
  height: 160px; }

.menu {
  margin: 0;
  padding: 0;
  text-align: center;
  width: 100%;
  height: 40px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-transition: height 0.4s cubic-bezier(0.15, 0.72, 1, -0.82) 0.2s;
  -o-transition: height 0.4s cubic-bezier(0.15, 0.72, 1, -0.82) 0.2s;
  transition: height 0.4s cubic-bezier(0.15, 0.72, 1, -0.82) 0.2s; }

.menu .menu-btn {
  margin: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  color: #00ccff;
  font-size: 1.4rem;
  padding: 10px 16px;
  cursor: pointer;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-border-top-left-radius: 50%;
          border-top-left-radius: 50%;
  -webkit-border-top-right-radius: 50%;
          border-top-right-radius: 50%;
  background-color: rgba(0, 0, 0, 0.4); }

.menu .menu-btn span {
  content: "";
  display: block;
  height: 2px;
  width: 50%;
  background-color: #00ccff;
  position: relative;
  cursor: pointer;
  margin: 0 auto;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.8);
  -o-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.8);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.8);
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.menu .menu-btn span:after, .menu .menu-btn span:before {
  content: "";
  display: block;
  height: 2px;
  width: 100%;
  background-color: #00ccff;
  position: relative;
  margin: 0 auto;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.8);
  -o-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.8);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.8);
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.menu .menu-btn span:before {
  top: 10px;
  left: -25%;
  width: 150%; }

.menu .menu-btn span:after {
  top: -12px;
  width: 50%; }

.menu a {
  color: #00ccff;
  font-size: 1.4rem; }

.menu li {
  height: 40px;
  list-style: none;
  margin: 0;
  font-size: 1rem;
  display: inline-block; }

.menu li a {
  display: block;
  padding: 10px 16px;
  -webkit-transition: height 0.4s cubic-bezier(0.15, 0.72, 1, -0.82) 0.2s;
  -o-transition: height 0.4s cubic-bezier(0.15, 0.72, 1, -0.82) 0.2s;
  transition: height 0.4s cubic-bezier(0.15, 0.72, 1, -0.82) 0.2s; }

.menu li:not(.menu-btn) {
  background-color: #fff;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  border: 1px solid #00ccff;
  -webkit-transition: height 0.4s cubic-bezier(0.15, 0.72, 1, -0.82) 0.2s;
  -o-transition: height 0.4s cubic-bezier(0.15, 0.72, 1, -0.82) 0.2s;
  transition: height 0.4s cubic-bezier(0.15, 0.72, 1, -0.82) 0.2s; }

.menu .full-menu {
  width: 99%; }

.menu .half-menu {
  width: -webkit-calc(49.5% - 2px);
  width: calc(49.5% - 2px); }

.menu .third-menu {
  width: -webkit-calc(33% - 1px);
  width: calc(33% - 1px); }

.menu .two-third-menu {
  width: -webkit-calc(66% - 2px);
  width: calc(66% - 2px); }

.menu .current {
  border: 1px solid #fff;
  background-color: #00ccff;
  color: #fff; }

.menu .current a {
  color: #fff;
  background-color: #00ccff;
  padding: 9px 15px; }

.menu:hover li.current, .menu:active li.current {
  border: 1px solid #ffffff;
  background-color: #00ccff;
  color: #fff; }

.menu:hover .current a, .menu:active .current a {
  color: #fff;
  background-color: #00ccff; }

.menu.hover {
  height: 160px; }

.menu li:not(.menu-btn):hover, .menu li:not(.menu-btn):active {
  border: 1px solid #fff;
  background-color: #00ccff;
  color: #fff; }

.menu li:hover a, .menu li:active a {
  color: #fff; }

.menu li:hover span, .menu li:active span, .menu li:hover span:before, .menu li:active span:before, .menu li:hover span:after, .menu li:active span:after {
  background-color: #fff; }

.menu.hover .menu-btn span:before {
  top: -12px; }

.menu.hover .menu-btn span:after {
  top: 10px; }

.menu > .med, .menu > .lrg {
  display: none;
  *zoom: 0; }

.menu > .sml, .menu > .sml {
  display: inline-block;
  *zoom: 1; }

.menu .menu-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

/* Section Styles */
section .content {
  min-width: 75px;
  min-height: 75px;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
  -o-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4); }

section:nth-of-type(even) .content {
  -webkit-text-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
  -moz-text-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
  -o-text-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
  text-shadow: 0 10px 20px rgba(0, 0, 0, 0.6); }

#main {
  position: fixed;
  z-index: -1;
  background-image: url(../../img/336-joshua-laptop.jpg);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  background-position: top center; }

#main h1 {
  position: absolute;
  left: -200%;
  top: -200%;
  height: 0;
  width: 0;
  color: #fff;
  font-size: .1rem; }

#intro {
  background-color: transparent;
  -webkit-box-shadow: inset 0 -45px 100px rgba(0, 0, 0, 0.4);
  -o-box-shadow: inset 0 -45px 100px rgba(0, 0, 0, 0.4);
  box-shadow: inset 0 -45px 100px rgba(0, 0, 0, 0.4); }

#intro h2, #intro h3, #intro h4 {
  -webkit-text-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
  -moz-text-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
  -o-text-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
  text-shadow: 0 10px 20px rgba(0, 0, 0, 0.6); }

#profile {
  min-height: 550px; }

#toronto-skyline {
  background-image: url("../../img/314-toronto-skyline-night.jpg");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  background-position: center; }

#profile .content {
  padding: 70px 10px 10px;
  background-color: rgba(0, 153, 153, 0.4);
  border: none; }

#profile p {
  text-align: left;
  margin: 0 0 1em;
  padding: 0 20px; }

#profile a {
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.8);
  -o-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.8);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.8); }

#profile .contact-button {
  margin: 30px 20px 0;
  display: block;
  font-size: 1.6rem;
  -webkit-transition: all 0.2s ease-in-all;
  -o-transition: all 0.2s ease-in-all;
  transition: all 0.2s ease-in-all;
  width: -webkit-calc(100% - 40px);
  width: calc(100% - 40px);
  padding: 20px 10px;
  -webkit-border-radius: .4rem;
          border-radius: .4rem;
  background-color: white; }

#profile .contact-button:hover, #profile .contact-button:focus {
  background-color: rgba(255, 255, 255, 0.8); }

#work {
  -webkit-box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.4);
  -o-box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.4);
  box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.4); }

#work .content {
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
  -o-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
  z-index: 10;
  font-weight: 700;
  font-size: 1.4em; }

#work .content h4 {
  margin: 0 4px 4px; }

.logo-link {
  margin: 8px;
  width: 100%;
  text-align: left; }

.logo-link img {
  width: 35%;
  min-width: 75px; }

#eyeconx .logo-link, #eyestartv .logo-link, #bright-optical .logo-link {
  display: none; }

.title-switcher p, .titles h4 {
  text-shadow: 0 0 6px #777;
  -webkit-text-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
  -moz-text-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
  -o-text-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
  text-shadow: 0 0 6px rgba(0, 0, 0, 0.6); }

.title-switcher p {
  text-align: left;
  margin: 0;
  font-size: 1.8rem; }

.title-switcher a {
  font-size: 1.8rem; }

#work iframe {
  width: 0;
  height: 0;
  position: absolute; }

#work .social-overlay {
  position: absolute;
  bottom: 0;
  z-index: 10; }

#work .social-links {
  color: #fff; }

#work .social-overlay p {
  color: #444;
  background-color: rgba(0, 153, 153, 0.7); }

#addressbook, #eyeconx, #live-cam, #title-switcher-plugin, #json-search, #eyestartv, #bright-optical {
  position: relative;
  background-repeat: no-repeat;
  background-position: top center;
  -webkit-background-size: cover;
          background-size: cover; }

#addressbook {
  background-image: url(../../img/address-book.jpg); }

#eyeconx {
  background-image: url(../../img/eyeconx-website.jpg); }

#live-cam {
  background-image: url(../../img/live-street-cams.jpg); }

#title-switcher-plugin {
  background-image: url(../../img/title-switcher-plugin.jpg); }

#json-search {
  background-image: url(../../img/json-keyword-search.jpg); }

#eyestartv {
  background-image: url(../../img/eyestartv-register.jpg); }

#bright-optical {
  background-image: url(../../img/bright-optical-location-admin.jpg); }

.blue-shade {
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(26, 89, 171, 0.5);
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 1; }

#cam-title {
  color: #FFC017;
  font-size: 1.4rem;
  font-family: 'Arial', arial, helvetica, san-serif;
  position: absolute;
  top: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  margin-top: -26px;
  text-decoration: none; }

#rates {
  min-height: 1540px;
  min-height: 1580px; }

#rates .rate-intro p {
  text-align: center;
  margin: 0 auto; }

#rates .rate-column {
  text-align: left;
  padding: 1rem; }

#rates .rate-column li {
  margin-bottom: 1.2rem; }

#rates .rate-column > p {
  margin-top: 1.2rem; }

#rates .sml .rate-column {
  min-height: 680px; }

#rates .sml .rate-column:nth-of-type(2) {
  min-height: 420px; }

#rates .sml .rate-column:first-of-type {
  min-height: 320px; }

#rates .rates-head, #rates .rates-foot {
  height: auto; }

#rates .sml .rate-column h4, #rates .sml .rate-column h5, #rates .sml .rate-column h6, #rates .sml .rate-column p {
  display: inline-block;
  margin: 4px 20px 0 0;
  font-size: 1.4rem; }

#rates .sml .rate-column h6, #rates .sml .rate-column p {
  font-size: 1.2rem;
  margin: 4px 0;
  vertical-align: top; }

#rates .sml .rate-column h6 {
  width: 29%;
  min-width: 66px; }

#rates .sml .rate-column p {
  width: 70%; }

#rates .sml .rate-column ul {
  padding-left: 0;
  list-style: none; }

#contact {
  min-height: 650px; }

#contact .content {
  padding: 0; }

#contact .content > .contact-note {
  padding: 20px 5px 5px; }

#contact .content > .contact-note p {
  padding: 0 8px;
  text-align: left; }

#contact .lrg .content > .contact-note {
  padding: 60px 5px 5px; }

#contact .company-contact {
  padding: 8px; }

#contact h3, #contact h4, #contact a {
  opacity: 1;
  -webkit-transition: opacity .4s ease-in-out;
  -o-transition: opacity .4s ease-in-out;
  transition: opacity .4s ease-in-out; }

#contact a:hover, #contact a:focus {
  opacity: .6; }

#contact .sml .company-contact {
  text-align: center;
  font-size: 1.4rem; }

#contact .lrg .company-contact {
  font-size: 1.6rem; }

#contact .company-contact h4 {
  font-size: 1.6rem; }

#contact .contact-note h3 {
  font-size: 2rem; }

#contact form {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0; }

#contact .contact-info {
  width: 100%;
  height: 30%;
  text-align: left; }

#contact .contact-info .form-group {
  width: 100%;
  text-align: center; }

#contact input, #contact textarea {
  width: 90%;
  position: relative;
  margin: 0;
  font-size: .8rem;
  -webkit-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
  -o-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4); }

#contact input:not(.large-button):hover, #contact textarea:hover, #contact input:not(.large-button):focus, #contact textarea:focus {
  font-size: 1.2rem;
  width: 95%; }

#contact .message {
  width: 100%;
  height: 65%; }

#contact .message textarea {
  height: 90%; }

#contact .message textarea:hover, #contact .message textarea:focus {
  height: 92%; }

#contact .large-button {
  width: 100%;
  height: 100%;
  background-color: #fff;
  font-size: 2.6rem; }

#contact .large-button:hover, #contact .large-button:focus {
  width: 104%;
  height: 121%;
  font-size: 2.8rem;
  margin: -1% -2% 0;
  -webkit-box-shadow: 0 12px 24px rgba(0, 0, 0, 0.4);
  -o-box-shadow: 0 12px 24px rgba(0, 0, 0, 0.4);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.4); }

#home-footer {
  z-index: 1;
  background-color: #fff;
  min-height: 120px; }

#home-footer .copyright {
  color: #fff;
  background-color: #009999;
  border: 4px solid #fff;
  text-align: center;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
  -o-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4); }

#home-footer .copyright .copyright-info p {
  padding: 6px 4px;
  font-size: 1.8rem;
  margin: 0; }

/* These override the primary ('mobile first') styles.  */
@media only screen and (min-width: 314px) {
  #main {
    background-image: url("../../img/480-joshua-laptop.jpg"); }
  #toronto-skyline {
    background-image: url("../../img/448-toronto-skyline-night.jpg"); }
  #contact .company-contact {
    padding: 12px 30px; } }

@media only screen and (min-width: 344px) {
  #rates {
    min-height: 1140px; }
  #rates .sml .rate-column {
    min-height: 465px; }
  #rates .sml .rate-column:nth-of-type(2) {
    min-height: 280px; }
  #rates .sml .rate-column:first-of-type {
    min-height: 215px; } }

@media only screen and (min-width: 448px) {
  #main {
    background-image: url("../../img/600-joshua-laptop.jpg"); }
  #toronto-skyline {
    background-image: url("../../img/640-toronto-skyline-night.jpg"); }
  #rates .rate-intro p {
    text-align: center;
    margin: 0 20% 0 20%; } }

@media only screen and (min-width: 580px) {
  .overflow-bottom-fifty {
    top: 0;
    bottom: -50%;
    height: 150%;
    position: relative;
    z-index: 10; }
  #contact .contact-info .form-group {
    width: 50%; }
  #contact input, #contact textarea {
    margin: 2px 0; }
  #contact .contact-info .form-group input {
    width: 80%; }
  #contact .contact-info .form-group input:not(.large-button):hover, #contact .contact-info .form-group input:not(.large-button):focus {
    width: 90%; }
  #rates {
    min-height: 1570px; }
  #rates .vert-row {
    min-height: 75px; }
  #rates .vert-eight-twelfth {
    min-height: 1420px; }
  #rates .rate-intro p {
    margin: 0 15% 0 15%; }
  .menu > .sml, .menu > .lrg {
    display: none;
    *zoom: 0; }
  .menu > .med, .menu > .med {
    display: inline-block;
    *zoom: 1; }
  .menu .menu-btn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; } }

@media only screen and (min-width: 600px) {
  #main {
    background-image: url("../../img/768-joshua-laptop.jpg"); }
  #toronto-skyline {
    background-image: url("../../img/800-toronto-skyline-night.jpg"); }
  #rates {
    min-height: 1470px; }
  #rates .vert-eight-twelfth {
    min-height: 1320px; } }

@media only screen and (min-width: 630px) {
  #rates {
    min-height: 1350px; }
  #rates .vert-eight-twelfth {
    min-height: 1200px; } }

@media only screen and (min-width: 720px) {
  #rates {
    min-height: 1200px; }
  #rates .vert-eight-twelfth {
    min-height: 1050px; } }

@media only screen and (min-width: 768px) {
  #main {
    background-image: url("../../img/2448-joshua-laptop.jpg"); }
  #toronto-skyline {
    background-image: url("../../img/1024-toronto-skyline-night.jpg"); }
  #rates {
    min-height: 1100px; }
  #rates .vert-eight-twelfth {
    min-height: 950px; } }

@media only screen and (min-width: 881px) {
  .logo {
    position: relative;
    display: inline-block; }
  .mobile {
    display: none; }
  header {
    min-height: 70px;
    bottom: auto; }
  header:hover, header:active, header.hover {
    height: auto; }
  .menu {
    text-align: center;
    padding: 0;
    width: 100%;
    position: relative;
    top: 10px;
    left: 0;
    -webkit-transition: none;
    -o-transition: none;
    transition: none; }
  .menu:hover, .menu:active {
    height: auto; }
  .menu a {
    font-size: 1.4rem; }
  .menu li:not(.menu-btn) {
    width: auto;
    height: auto;
    -webkit-transition: all .6s ease-in-out;
    -o-transition: all .6s ease-in-out;
    transition: all .6s ease-in-out; }
  .menu li:not(.menu-btn) a {
    padding: 4px 9px; }
  .menu:hover li:not(.menu-btn), .menu:active li:not(.menu-btn) {
    width: auto;
    height: auto; }
  .menu:hover li.current, .menu:active li.current {
    border: 1px solid #ffffff; }
  .menu.hover {
    height: auto; }
  .title-switcher p, .title-switcher a {
    font-size: .9rem; }
  #profile .content {
    background-color: rgba(0, 153, 153, 0.8); }
  #profile .content h3 {
    font-size: 2.2rem; }
  #profile .content p {
    font-weight: 700; }
  #profile .content {
    -webkit-border-radius: 10px;
            border-radius: 10px;
    padding: 20px 10px 10px; }
  #home-footer .copyright {
    border: none; }
  #contact {
    min-height: 700px; }
  .logo-link {
    float: left; }
  .overflow-top-fifty {
    top: -50%;
    bottom: 0;
    height: 150%;
    position: relative;
    z-index: 10; }
  #rates {
    min-height: 1190px; }
  #rates .horiz-one-elevnth {
    max-width: 40px; }
  #rates .vert-row {
    min-height: 100px; }
  #rates .horiz-ten-twelfth {
    min-width: 844px; }
  #rates .vert-eight-twelfth {
    min-height: 980px; }
  #rates .rate-intro p {
    margin: 60px 0 0; }
  #rates .lrg .rate-column {
    width: 40%;
    min-width: 280px; }
  #rates .lrg .rate-column h4 {
    font-size: 1.8em; }
  #rates .lrg .rate-column h5 {
    font-size: 1.6em; }
  #rates .lrg .rate-column h6 {
    font-size: 1.4em; }
  #rates .lrg .rate-column p, #rates .lrg .rate-column li {
    font-size: 1.2em; }
  .menu > .sml, .menu > .med {
    display: none;
    *zoom: 0; }
  .menu > .lrg, .menu > .lrg {
    display: inline-block;
    *zoom: 1; } }

@media only screen and (min-width: 980px) {
  .menu a {
    font-size: 1.4rem; } }

@media only screen and (min-width: 1042px) {
  #rates {
    min-height: 1190px; }
  #rates .vert-row, #rates .content {
    min-height: 35px; }
  #rates .vert-row > .horiz-full {
    height: inherit; }
  #rates .rate-intro {
    margin: 30px 0 0; }
  #rates .rate-intro p {
    margin: 0; }
  #rates .vert-eight-twelfth {
    min-height: 980px; } }

@media only screen and (min-width: 1260px) {
  #rates {
    min-height: 1090px; }
  #rates .vert-eight-twelfth {
    min-height: 880px; } }

@media only screen and (min-width: 1450px) {
  #rates {
    min-height: 990px; }
  #rates .vert-eight-twelfth {
    min-height: 780px; } }

@media only screen and (min-width: 1600px) {
  #rates {
    min-height: 890px; }
  #rates .vert-eight-twelfth {
    min-height: 680px; } }

@media only screen and (min-width: 1800px) {
  #rates .horiz-one-elevnth {
    max-width: 9.09%; } }

@media only screen and (min-width: 2400px) {
  #toronto-skyline {
    background-image: url("../../img/2400-toronto-skyline-night.jpg"); } }

/* Style adjustments for high resolution devices */
