.main-menu-form {
  margin: 0 auto 3rem;
  padding-top: 3rem;
  max-width: 400px;
}
.main-menu-form label {
  color: white;
  font-size: 1.6rem;
}
.main-menu-form input {
  margin: 1rem 2rem;
  font-size: 1.6rem;
  border-radius: 0.6rem;
  border: none;
  background-color: white;
}
.main-menu-form input:not([type=checkbox]) {
  display: block;
  margin: 1rem auto;
  padding: 0.4rem 0.6rem;
  width: 18rem;
}
.main-menu-form input[type=submit] {
  font-weight: 700;
  color: #777;
  width: 12rem;
  border-bottom: 0.4rem solid #777;
}
.main-menu-form input[type=submit]:hover {
  color: green;
  border-bottom: 0.4rem solid green;
}
.main-menu-form .form-group {
  width: 50%;
  display: inline-block;
  margin: 1rem auto;
}
.main-menu-form .form-group label {
  display: block;
}

.final-scores input {
  margin: 1rem 2rem;
  font-size: 1.6rem;
  border-radius: 0.6rem;
  border: none;
  background-color: white;
  font-weight: 700;
  color: #777;
  width: 12rem;
  border-bottom: 0.4rem solid #777;
}
.final-scores input:hover {
  color: green;
  border-bottom: 0.4rem solid green;
}
.final-scores .score-cards {
  display: block;
  padding: 3rem 2rem;
  margin: 0 auto;
}
.final-scores .score-cards .score-card {
  display: inline-block;
  margin: 1rem;
  color: white;
  font-size: 1.6rem;
}